
.page {
    height: 100%;
    font-family: "Open Sans", "Arial", sans-serif;
  }
  
  .page__body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-width: 940px;
    min-height: 100%;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
  }
  

.sequencer__wrapper {
    width: 900px;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    margin-top: 200px;

}

.sequencer__samples-list {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
}

.sequencer__samples-item {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
}

.sequencer__step-list {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
} 


.sequencer__cell {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px dashed grey;

} 

/* .activated-cell {
    background-color: pink;
}

.played-cell {
    color: green;
} */

.button {
    display: block;
    padding: 15px 20px;
    width: 100px;
    border: none;
    text-overflow: ellipsis;
    box-sizing: content-box;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font: inherit;
  }

  .sample-button {
      width: 70px;
  }


  .slider-tracker {
      display: flex;
    
}
  

 .sequencer__step-list {
     display: none
 }


 .sequencer__step-list.current-slide {
     display: flex;
 }