$desktop-width: 1151px;
$mobile-width: 767px;
$tablet-width: 1150px;
$track-width: 100%;
$track-height: 8px;



$white: #ffffff;
$black: #000000;
$dark-background:#33313b;
$modal-background: #333124;
$plum: #62374e;
$red-wine: rgba(98, 55, 78, 0.73);
$aquamarine: #007880;
$sandy: #FDC57B;
$grey: #c4c4c4;
$close-red: #dc143c;
