@mixin button-reset() {
  padding: 0;
  width: auto;
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}


@mixin backlight($color: color) {
  outline: 5px solid $color;
  outline-offset: -5px;
}

@mixin text-decoration($line, $style, $color) {
  text-decoration-line: $line;
  text-decoration-style: $style;
  text-decoration-color: $color;
}
  