.app__header {
  position: relative;
  background-color: #414141;
  width: 100%;
  font-family: 'Share Tech Mono', 'Arial', monospace;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: red;
    top: -1px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $sandy;
    bottom: -1px;
    left: 0;
  };
};

.app__header-wrapper {
  padding: 0 50px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  flex-direction: start;
  align-items: center;
  padding-left: 15%;
  max-width: 1300px;

  @media (max-width: $mobile-width) {
    padding-left: 5px;
  }

}

.app__header-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__header-fieldset {
  display: flex;
  flex-direction: column;
}

.player__button {
  @include button-reset;

  & svg {
    fill: $grey;
  }
}

.app-counters {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.app__counter {
  @include button-reset; 
  
  
  & svg {
    fill: $grey;
    stroke: none;
  }

  &--increment {
    margin-top: 3px;
  }

  &:hover svg,
  &:focus svg {
    fill: $sandy;
  }

  &:active svg {
    fill: darken($sandy, 20%);
  }
};

.app__user {
  margin-left: auto;
};


.app__user-link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: $grey;
  text-transform: uppercase;

  & svg {
    position: absolute;
    top: -6px;
    fill: $grey;
  }

  &:hover,
  &:focus {
    text-shadow: 0 4px 5px $close-red;

    & svg {
      fill: $plum;
    }
  }

  &:active {
    text-shadow: 6px 6px 8px $sandy;

    & svg {
      fill: $sandy;
    }
  }
};

.player {
  margin-top: -10px;
  margin-left: 20px;

  &__button {

    &:hover svg,
    &:focus svg {
      fill: $aquamarine;
    }

    &:active svg{
      fill: darken($aquamarine, 5%);
      transform: scale(0.8);
    }
  }
}


input[type=number] {
  font-family: 'Share Tech Mono', 'Arial', monospace;
  background-color: $sandy;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset,
              0px -4px 6px 0px rgba(255, 255, 255, 0.4) inset;
  color: rgba(51, 49, 59, 0.8);
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  outline: none;
  padding: 5px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 18px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  &:hover,
  &:focus {
    color: $close-red;
  }

  &:disabled {
    opacity: 0.4;
  }
} 

