.success__wrapper,
.error__wrapper,
.save__wrapper {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
}

.success,
.error,
.save {
  margin-top: 10%;
  margin: 0 auto;
  margin-top: 250px;
  width: 50vw;
  padding: 30px;
  height: 200px;
  text-align: center;
  background-color: $white;
  border: 1px solid #c6c6c6;

  @media(max-width: $mobile-width) {
    padding: 0 15px;
    width: 100%;
    height: 300px;
  }
}


.error__message,
.save__message {
  margin: 0;
  padding: 50px;
  font-size: 30px;
  font-weight: 700;

  
}

.success__message {
  color: $aquamarine
}

.error__message {
  color: $close-red;
}

.error__button {
  float: right;
}

.save__button {
  font-family: 'Share Tech Mono', 'Arial', monospace;
  width: 150px;
  height: 50px;
  color: $white;
  border: none;
  font-size: 15px;

  &--save {
    background-color: $aquamarine;
  
  }

  &--nosave {
    background-color: red;
    margin-left: 20px;
  }

}

.save__buttons {
  display: flex;
  justify-content: center;
}