.modal {
  display: none;
  position: fixed;
  text-align: center;
   top: 120px;
   margin-left: auto;
}

.modal__show {
  display: block;
}

.modal-user__content {
  padding: 10px;
  width: 40%;
  height: auto;
  background-color: $white;
}

.modal-user__heading {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 30px;
  color: $aquamarine;
}

.modal-close {
   float: right;
   font-size: 20px;
}

