.page {
  height: 100%;
  font-family: 'Share Tech Mono', 'Arial', monospace;
  color: $grey;
}
  
.page__body {
  display: grid;
  grid-template-rows: 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $dark-background;
}
