.app__project {
  margin-top: 50px;
}

.app__project-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  padding: 0 70px;
}

.app__save-project {
  display: flex;
}

.app__project-toggles {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  width: 50px;
}


.save-button {
  margin-left: 10px;
  margin-top: 15px;
  background-color: $aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Share Tech Mono', 'Arial', monospace;
  color: $white;
  text-transform: capitalize;
  height: 40px;
  width: 98px;
  border: none;
  border-radius: 4px;

  &:hover, 
  &:focus {
    background-color: lighten($aquamarine, 7%);
    box-shadow: 0 0 3px 2px $sandy;
    color: $black;
    outline: none;
  }

  &:active {
    background-color: darken($aquamarine, 5%);
    box-shadow: 0 0 5px 5px $sandy;
  }
}

