.app__project {
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    height: 100%;
    margin-bottom: auto;
  }
}


.app__project-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  padding: 0 70px;
  max-width: 1000px;

  @media (max-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 30px;
    grid-row: 50px;
  }
}

.app__save-project {
  display: flex;
}

.app__project-toggles {
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  width: 50px;

  @media (max-width: $mobile-width) {
    width: auto;
  }
  
}


.project-button {
  margin-left: 10px;
  margin-top: 15px;
  background-color: $aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Share Tech Mono', 'Arial', monospace;
  color: $white;
  text-transform: capitalize;
  height: 40px;
  width: 98px;
  border: none;
  border-radius: 4px;

  @media (max-width: $mobile-width) {
    width: 75px;
    height: 25px;
    margin-top: 10px;
  }


  &:hover, 
  &:focus {
    background-color: lighten($aquamarine, 7%);
    box-shadow: 0 0 3px 2px $sandy;
    color: $black;
    outline: none;
  }

  &:active {
    background-color: darken($aquamarine, 5%);
    box-shadow: 0 0 5px 5px $sandy;
  }

  &--delete {
    background-color: $close-red;
    
    &:hover {
      background-color: lighten($close-red, 5%);
    }
  }
}

input[type=text] {
  border: none;
  background-color: transparent;
  color: $grey;
  font-size: 25px;
  min-width: 250px;
  height: 50px;
  padding: 10px;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    width: 150px;
    height: 25px;
  }

  &::placeholder {
    font-family: 'Share Tech Mono', 'Arial', monospace;
    color: $grey;
    text-transform: capitalize;
    font-size: 36px;
    padding-left: 10px;

    @media (max-width: $mobile-width) {
      font-size: 20px;
    }
  }

  &:hover {
    border: 1px solid red;
  }

  
  &:hover::placeholder,
  &:focus::placeholder {
    color: red;
  }
}

