.sequencer__wrapper {
  grid-column: 1 / 2;
  grid-row: 2;
  position: relative;
  height: auto;
  background-color: none;
  margin-top: 30px;
  width: 100%;
};

.sequencer__samples-list {
  height: auto;
  list-style: none; 
  margin: 0;
  float: right;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
};

.sequencer__samples-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 5px;
}

.sequencer__steps-list {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
} 

.sequencer__cell {
  width: 36px;
  height: 36px;
  flex-direction: row;
  border: none;
  border-radius: 10%;


  @media (max-width: $mobile-width) {
    width: 24px;
    height: 24px;
  }



  &:not(:nth-child(16n)) {
    margin-right: 5px;
  }

  &--odd-quarter {
    background-color: $plum;
  }

  &--even-quarter {
    background-color: $red-wine;
  }

  &:hover,
  &:focus {
    border: 1px solid $sandy;
    outline: none;
  }

  &:active {
    box-shadow: 0 0 3px 2px $sandy;
  }

  &--checked {
    background-color: $sandy;
    box-shadow: 4px 0px 3px 0px #FFFFFF4A inset,
            -1px -2px 2px 1px #0000001F inset,
            3px 0px 4px 0px #00000033;
  }

  &--disabled {
    opacity: 0.4;
  } 
};

.sequencer__sound-buttons {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.sample-button {
  @include backlight ($plum);
  @include button-reset;
  width: 170px;
  height: 20px;
  z-index: 2;
  color: $grey;
  font-family: 'Share Tech Mono', 'Arial', monospace;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $mobile-width) {
    color: $sandy;
    margin-top: -10px;
    width: 70px;
  }


  &:hover {
    color: $red-wine
  }
}


.sequencer__playback-list {
  position: absolute;
  top: -25px;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: $mobile-width) {
    width: 460px;
  }
};


.sequencer__playback-element {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  background-color: $grey;

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 10px;
  }


  &--played {
    background-color: #fffc3c;
  }
};

