.slider {
  display: flex;
}

.slide {
  width: 100%;
  display: none;


  &--current {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}
 
.slider__arrow {
  @include button-reset;

  & svg {
    fill: $aquamarine;

    @media (max-width: $mobile-width) {
      width: 10px;
    }
  }

  &--prev svg {
    transform: rotate(180deg);
    fill: $aquamarine;
  }

  &--prev svg {
    transform: rotate(180deg);
  }

  &--disabled {
    fill: $grey;
  }

  &:hover svg, 
  &:focus svg {
    fill: lighten($aquamarine, 10%);
    color: $black;
    outline: none;
  }

  &:active svg {
    fill: darken($aquamarine, 10%);
  
  }
}
 