.button {
    display: flex;

    border: none;
    letter-spacing: 2px;
    color: $white;
    text-decoration: none;
    box-sizing: border-box;
}

.button-close {
    @include button-reset;
    cursor: pointer;
    font-size: 30px;
    color: $grey;

    &:hover {
        color: $close-red;
    }
}

