.button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border: none;
    letter-spacing: 2px;
    background-color: $black;
    color: $white;
    text-decoration: none;
    box-sizing: border-box;

    &:hover {
        background-color: $white;
    }
}
  
