.app__header {
    display: flex;
    background-color: #414141;
}

.app__header-input {
    display: flex;
}

.app__header-fieldset {
    display: flex;
    flex-direction: column;

}

.player__button {
    @include button-reset;
}

.app-counters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
//@include backlight(red);
    
}

.app__counter {
    @include button-reset; 

    &--increment {
     transform: rotate(180deg);   
    } 
}

