.app__header {
    position: relative;
    display: flex;
    background-color: #414141;
    padding-top: 15px;
}

.app_logo {
    position: absolute;
    top: 0;
}

.app__header-input {
    display: flex;
    height: 30px;
}

.app__header-fieldset {
    display: flex;
    flex-direction: column;
}

.player__button {
    @include button-reset;
}

.app-counters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}

.app__counter {
    @include button-reset; 

    &--increment {
     transform: rotate(180deg);   
    } 
}

