.app__projects  {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: -1;
    height: 100vw;
    background-color: rgba(253, 197, 123, 0.79);
    color: $black;
}

.app__projects-heading {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 10px;
    line-height: 18px;
    text-transform: capitalize;
}

.app__projects-link {
    text-decoration: none;
}