.button {
    display: flex;
    //align-items: center;
    border: none;
    letter-spacing: 2px;
    color: $white;
    text-decoration: none;
    box-sizing: border-box;
}

.button-close {
    @include button-reset; 
    font-family: 'Arial';
    cursor: pointer;
    font-size: 30px;
    color: $close-red;
}
  
