.page {
  width: 100%;
  height: 100%;
  //font-family: "", "Arial", sans-serif;
}
  
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  //min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: $black;
}
