.app__project {
    margin-left: 11%;
    margin-top: 48px;
    display: flex;
}


.save-button {
    margin-left: 10px;
    margin-top: 15px;
    background-color: $aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech Mono', 'Arial', monospace;
    color: $white;
    text-transform: capitalize;
    height: 40px;
    width: 98px;
    border: none;
    border-radius: 4px;
}