.sequencer__wrapper {
    width: 70%;
    height: auto;
    background-color: none;
    position: fixed;
    margin-top: 200px;
}

.sequencer__samples-list {
    width: 80%;
    height: auto;
    list-style: none;
    margin: 0;
    float: right;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid $black;
}


.sequencer__samples-item {
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
}

.sequencer__step-list {
    display: flex;
    width: 80%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
} 


.sequencer__cell {
    width: 36px;
    height: 36px;
    flex-direction: row;
    border: none;
    border-radius: 6%;
    background-color: $plum;

    &:not(:nth-child(16n)) {
        margin-right: 5px;
    }

    
    &--even-quarter {
        background-color: $red-wine;
    }

    &--checked {
    background-color: $sandy;
    box-shadow: 4px 0px 3px 0px #FFFFFF4A inset,
                -1px -2px 2px 1px #0000001F inset,
                3px 0px 4px 0px #00000033;
    }


}


.sample-button {
    width: 70px;
    max-height: 30px;
}