.slider-tracker {
    display: flex;
}

.slide {
    width: 100%
}
  
.sequencer__playback {

    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid $black;
    height: 10px;

}

.sequencer__playback-element {
   border: 1px solid $black;
   width: 10px;
   border-radius: 50%;

    &--played {
        background-color: red;
    }

}￼￼￼￼￼￼￼￼￼￼￼￼￼


 .sequencer__step-list {
     display: none
 }


 .sequencer__step-list.current-slide {
     display: flex;
 }
