.app__user-projects {
  grid-column: 1;
  grid-row-start: 1;
  padding-left: 20px;
  padding-bottom: 50px;
  height: 100vw;
  background-color: rgba(253, 197, 123, 0.79);
  color: $black;

  @media (max-width: $tablet-width) {
    order: 1;
    width: 100%;
    height: auto;
    background-color: transparent;
    color: $sandy;
    padding-left: 50px;
  }
}

.app__projects-heading { 
  font-size: 16px;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 30px;
  line-height: 18px;
  text-transform: capitalize;

  & a {
    text-decoration: none;
    color: $black;

    @media (max-width: $tablet-width) {
      display: none;
    }

  }
}

.app__projects-link {
  @include button-reset;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 10px;
  padding-bottom: 5px;
  color: $black;
  border-bottom: 1px dashed $black;

  &:hover,
  &:focus {
    color: red;
    border-color: $close-red;
  }

  @media (max-width: $tablet-width) {
    color: $grey;
  }
}

.app__project-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 10px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }

}

.app__project-item {
  margin-bottom: 10px;


  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.app__project-link {
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    text-shadow: 0 0 1px $black;
  }


  @media (max-width: $tablet-width) {
    color: $sandy;

    &:hover,
    &:focus {
      text-shadow: 0 0 1px $sandy;
    }
  }
}