.sequencer__controls {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 20px;

  // @media (max-width: $mobile-width) {
  //   margin-top: 20px;
  // }
}

.sequencer__controls-panner {

  @media (max-width: $tablet-width) {
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 2;
  }

  @media (max-width: $mobile-width) {
    right: 0;
  }

}

.sequencer__controls-volume {
  margin-right: 10px;
}

.sequencer__controls-input--volume {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  height: 0;
 
  &:hover,
  &:focus {
    background-color: darken($sandy, 10%);
    outline: none;
  }

  &::-moz-range-track {
    -moz-appearance: none;
    width: $track-width;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 0px #33313BB2 inset;
    background: $sandy;
    border-radius: 5%;
    border: 0.2px solid #010101;

    &:hover,
    &:focus {
      background-color: darken($sandy, 10%);
      border: none;
    }
  }

  &::-webkit-slider-runnable-track {
    width: $track-width;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 0px #33313BB2 inset;
    background: $sandy;
    border-radius: 5%;
    border: 0.2px solid #010101;

    &:hover,
    &:focus {
      background-color: darken($sandy, 10%);
      border: none;
  }

    @media (max-width: $mobile-width) {
      width: 15px;
    }
  }
  
   &::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 1px 0px 2px 0px #00000033,
                -1px -1px 1px 0px #00000040 inset;
    height: 13px;
    width: 7px;
    margin-top: -2px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #e5e5e5;
    cursor: pointer;

    &:hover {
      transform: scale(1.4);
    }

  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    box-shadow: 1px 0px 2px 0px #00000033,
                -1px -1px 1px 0px #00000040 inset;
    height: 13px;
    width: 7px;
    margin-top: -2px;
    border-radius: 3px;
    background-color: #e5e5e5;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.sequencer__controls-label-group {
  display: flex;
  justify-content: center;
}

.sequencer__panner-span {
  text-transform: uppercase;
  align-self: bottom;
  font-size: 12px;

  &--left {
    margin-right: 3px;
  }

  &--right {
    margin-left: 3px;
  }
}


.sequencer__controls-label-img {
  cursor: pointer;
  margin-top: -5px;
  fill: $sandy;
  width: 24px;
  height: 24px;
  &:hover, 
  &:focus {
    fill: darken($sandy, 10%);
  }


  @media (max-width: $mobile-width) {
    width: 28px;
    height: 28px;
  }
}
