
@font-face {
    font-family: "Share Tech Mono";
    src:
      url("../fonts/ShareTechMono-Regular.woff2") format("woff2"),
      url("../fonts/ShareTechMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Tomorrow";
    src:
      url("../fonts/Tomorrow-Regular.woff2") format("woff2"),
      url("../fonts/Tomorrow-Regular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
