$desktop-width: 1024px;
$mobile-width: 767px;



$white: #ffffff;
$black: #000000;
$dark-background:#33313b;
$plum: #62374e;
$red-wine: rgba(98, 55, 78, 0.73);
$aquamarine: #007880;
$sandy: #FDC57B;
$grey: #c4c4c4;
$close-red: #dc143c;
